html, body{
    height: 100%;
}

#container {
   min-height:100%;
   position:relative;
}

footer{
    padding: 10px 20px;
    background: #006fff;
    color: white;
    text-align: center;
}

main{
    height: 100%;
}

#description{
    font-size: 25pt;
}

#motivation{
    font-size: 25pt;
}


