html, body{
    height: 100%;
}

#container {
   min-height:100%;
   position:relative;
}

footer{
    padding: 10px 20px;
    background: #006fff;
    color: white;
    text-align: center;
}

main{
    height: 100%;
}

h2{
    text-align: center;
}

#table_form {
    width: 100%;
    margin-bottom: 20px;
}

table td, table td * {
    vertical-align: top;
}

#description{
    font-size: 25pt;
}

#motivation{
    font-size: 25pt;
}

#center{
    text-align: center;
}

#right{
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}

#file_upload{
    display: block;
    width: 100%;
}

#submit{
    display: block;
    margin-top: 10px;
    width: 100%;
}

#solution{
    width: 100%;
    height: 400px;
}

#solution_td{
    width: 60%;
}
