<!doctype html>
<html lang="en">
<link rel="stylesheet" href="style.css">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" />
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <p>
            <a class="navbar-brand" href="/">Beginner Code Quest</a>
            <a class="btn btn-primary " href="/about">Об сайте</a>
            <a class="btn btn-primary " href="/rating">Таблица рейтинга</a>
        {% if current_user.is_authenticated and current_user.notifications_count() != 0 %}
            </p>
                <a class="btn btn-primary " href="/notifications">
                    {{ current_user.notifications_count() }}
                    <img src="{{ url_for('static', filename='image/notifications.png') }}" width="30"/>
                </a>
            <p>
        {% endif %}

        </p>
        {% if current_user.is_authenticated %}
        <p>
            <a class="navbar-brand" href="/profile">{{ current_user.name }}</a>
            <a class="btn btn-primary" href="/logout">Выйти из аккаунта</a>
        </p>
        {% else %}
            <p>
                <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                <a class="btn btn-success" href="/login">Войти</a>
            </p>
        {% endif %}
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
     <link rel="stylesheet" href="style.css">
    {% block content %}{% endblock %}
</main>
    <footer>
        <p>Beginner Code Quest</p>
        <p>All rights reserved 2023</p>
    </footer>
</body>
</html>
