{% extends "base.html" %}

{% block content %}
    <h2>Уведомления</h2>
    {% if current_user.is_authenticated %}
        {% for item in notifications%}
            <p>
                <b>{{ item[0] }}</b> - {{ item[1] }}
                <a class="navbar-brand" href={{ item[2] }}> Ссылка </a>
            </p>
        {% endfor %}
        <a class="btn btn-primary" href="/clear_notifications">Очистить</a>
    {% else %}
        <h3>Для просмотра уведомлений, зайдите в аккаунт!</h3>
    {% endif %}
{% endblock %}
