{% extends "base.html" %}

{% block content %}
    <h2>{{ current_problem.name|safe }}</h2>
    <h5>Описание:</h5>
    {{ current_problem.description|safe }}

    {% if current_user.is_authenticated %}
    {% if current_user.get_problem_status(current_problem.id)[0] in ("WRONG", "EXCEPTION", "TIME_LIMIT",
    "SYNTAX_ERROR")%}
    <div class="bg-danger p-2 bg-gradient bg-opacity-75">
        <p>Задача не решена:</p>
        <p>{{ current_user.get_problem_status(current_problem.id)[1]|safe }}</p>
    </div>
    {% elif current_user.get_problem_status(current_problem.id)[0] == "SUCCESS"%}
    <div class="bg-success p-2 bg-gradient bg-opacity-75">
        <p>Задача решена</p>
    </div>
    {% endif %}

    <b>Решение:</b>
    <form action="/problem/{{ current_problem.id }}" method="post" enctype = "multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}

        <table id="table_form">
            <tbody>
                <tr>
                    <td style="width: 70%;">
                        {{ form.solution(id="solution") }}
                        {% for error in form.solution.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                        {% endfor %}
                    </td>

                    <td>
                        {% if current_user.get_problem_status(current_problem.id)[0] != "SUCCESS"%}
                        {{ form.solution_file(class="btn btn-primary", id="file_upload") }}
                        {{ form.submit(type="submit", class="btn btn-primary", id="submit") }}
                        {% endif %}

                        {% else %}
                        <h2>Для решения задачи, зайдите в аккаунт!</h2>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}
